<!DOCTYPE html>
<html lang="en">
	<head>
		<% include('../partials/head') %>
	</head>
	<body>
		<h1>Controll app</h1>
		<p>
			<a href="/profile">Profile</a>
		</p>
		<p>
			<a href="/login">Login</a>
			or
			<a href="/signup">Sign Up</a>
		</p>
	</body>
</html>
