<!DOCTYPE html>
<html lang="en">
	<head>
		<% include('../partials/head') %>
	</head>
	<body>
		<h1>Sign Up</h1>
		<form id="signup-form">
			<input
				name="email"
				type="email"
				id="email"
				placeholder="Email"
				required
			/>
			<input
				name="password"
				type="password"
				id="password"
				placeholder="Password"
				required
			/>
			<button id="#signup" type="submit">Sign Up</button>
		</form>

		<script src="/js/signup.js"></script>
	</body>
</html>
